# ARY News Politics

In [ ]:
import requests
from bs4 import BeautifulSoup
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup as soup

In [ ]:
c = []
pg = 1
for i in range(3000):
  url = "https://arynews.tv/category/pakistan/page/" + str(pg)
  req = Request(url , headers={'User-Agent': 'Mozilla/5.0'})
  webpage = urlopen(req).read()
  page_soup = soup(webpage, "html.parser")
  containers = page_soup.findAll("h3","entry-title td-module-title")
  c.append(containers)
  pg = pg +  1

In [ ]:
len(c)

2660

In [ ]:
containers[0].a.text

'PTI seeks ‘high-level commission’ to probe events of May 9'

In [ ]:
titles = []
for i in range(len(c)):
  for j in range(len(c[i])):
    titles.append(c[i][j].a.text)

In [ ]:
len(titles)

39900

In [ ]:
for i in range(len(titles)):
  print(titles[i])

In [ ]:
import pandas as pd
df = pd.DataFrame(titles, columns=["News Titles"])
df.to_csv('ARY_News_Titles.csv', index=False)

## Express Tribune

In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
pg = 1
news_titles = []
news_links = []
for i in range(300):
  URL = "https://tribune.com.pk/health?page=" + str(pg)
  page = requests.get(URL)
  soup = BeautifulSoup(page.content, "html.parser")
  news_titles.append(soup.findAll('h2', attrs = {'class':"title-heading"}))
  news_links.append(soup.findAll('div', attrs = {'class':"horiz-news3-caption"}))
  pg = pg +  1

In [ ]:
titles=[]
urls=[]
for i in range(len(news_titles)):
  for j in range(10):
    titles.append(news_titles[i][j].text)

In [ ]:
len(urls)

3000

In [ ]:
len(titles)

3000

In [ ]:
with open('health_url.txt', 'w') as fp:
    for item in urls:
        # write each item on a new line
        fp.write("%s\n" % item)
    print('Done')

Done

In [ ]:
title=[]
date_aut=[]
content=[]
for i in range(len(urls)):
  URL2 = urls[i]
  page2 = requests.get(URL2)

  soup2 = BeautifulSoup(page2.content, "html.parser")
  title.append(soup2.find('h1'))
  #t = soup2.findAll('div', attrs={'class': "story-box-section"})
  date_aut.append(soup2.find('div',attrs={'class':"left-authorbox"}))
  content.append(soup2.findAll('span', attrs = {'class':"story-text"}))

In [ ]:
urls[0]

'https://tribune.com.pk/story/2410513/29-of-population-suffering-from-diabetes'

In [ ]:
len(c)

3000

In [ ]:
text = []
ti = []
d = []
j = 0
for i in range(3000):
  if i!=421 and i!=426 and i!=1770:
    c=content[i][0].text.strip()
    text.append(c)
    ti.append(titles[i])
    d.append(date_aut[i].text.strip())
    c = ""

In [ ]:
len(d)

2997

In [ ]:
import pandas
df = pandas.DataFrame(data={"Titles": ti, "articleText": text, "date_author": d})
df.head()

In [ ]:
s = []
for i in range(len(df)):
  s.append(titles[i].strip())

In [ ]:
df['updated_titles'] = s

In [ ]:
df = df.drop('Titles', axis=1)

In [ ]:
df.to_csv('HealthNews.csv',sep=',',index=False)

## Save to Pandas dataframe

In [ ]:
import pandas as pd
Title = range(3000)
date_author = range(3000)
articleText = range(3000)
dataHealth_title_date_author = pd.DataFrame(
    {'Title': titles,
     'date_author': d
    })
dataHealth_title_date_author

,Title,date_author
0,\n‘29% of population suffering from diabetes’,"[\n, [[Our Correspondent], ], \n, [April 08, ..."
1,\nK-P readies plan to combat dengue,"[\n, [[Our Correspondent], ], \n, [April 06, ..."
2,\nCovid-19 cases on the rise in K-P again,"[\n, [[Our Correspondent], ], \n, [April 01, ..."
3,\nBalochistan cabinet approves health card,"[\n, [[Syed Ali Shah], ], \n, [April 01, 2023..."
4,\nSeven new Covid-19 cases detected in K-P,"[\n, [[Our Correspondent], ], \n, [March 26, ..."
...,...,...
2995,\nHeart groups suggest people get up every now...,"[\n, [[Reuters], ], \n, [August 17, 2016], \n]"
2996,\nPaying smokers to quit may prove successful,"[\n, [[News Desk], ], \n, [August 17, 2016], \n]"
2997,\nDid you know? Cupping is actually an Islamic...,"[\n, [[Life&Style], ], \n, [August 18, 2016],..."
2998,\nIranians fight rising infertility and taboos,"[\n, [[Afp], ], \n, [August 16, 2016], \n]"
2999,\nStudy finds refilled water bottles are as di...,"[\n, [[Entertainment Desk], ], \n, [August 14..."

In [ ]:
cols=['Title','date_author','articleText']
for col in cols:
    data[[col]].to_csv('\content\h_news' + '\\' + col + '.csv')

print(data)

                                                  Title  \
0         \n‘29% of population suffering from diabetes’
1                   \nK-P readies plan to combat dengue
2             \nCovid-19 cases on the rise in K-P again
3            \nBalochistan cabinet approves health card
4            \nSeven new Covid-19 cases detected in K-P
...                                                 ...
2995  \nHeart groups suggest people get up every now...
2996      \nPaying smokers to quit may prove successful
2997  \nDid you know? Cupping is actually an Islamic...
2998     \nIranians fight rising infertility and taboos
2999  \nStudy finds refilled water bottles are as di...

                                            date_author  \
0     [\n, [[Our Correspondent],  ], \n, [April 08, ...
1     [\n, [[Our Correspondent],  ], \n, [April 06, ...
2     [\n, [[Our Correspondent],  ], \n, [April 01, ...
3     [\n, [[Syed Ali Shah],  ], \n, [April 01, 2023...
4     [\n, [[Our Correspondent],  ], \n, [March 26, ...
...                                                 ...
2995    [\n, [[Reuters],  ], \n, [August 17, 2016], \n]
2996  [\n, [[News Desk],  ], \n, [August 17, 2016], \n]
2997  [\n, [[Life&Style],  ], \n, [August 18, 2016],...
2998        [\n, [[Afp],  ], \n, [August 16, 2016], \n]
2999  [\n, [[Entertainment Desk],  ], \n, [August 14...

                                            articleText
0     [[\n, [\nLAHORE:\n], \n, [<span style="color:b...
1     [[\n, [\nPESHAWAR:\n], \n, [<span style="color...
2     [[\n, [\nPESHAWAR:\n], \n, [<span style="color...
3     [[\n, [\nQUETTA:\n], \n, [<span style="color:b...
4     [[\n, [\nPESHAWAR:\n], \n, [<span style="color...
...                                                 ...
2995  [[\nPeople should get about 30 minutes of exer...
2996  [[\nA new study shows that financial inducemen...
2997  [[\nThe media has been abuzz with stories of O...
2998  [[\n, [\nTEHRAN:\n], \nWith infertility rising...
2999  [[\nWe all know the key to a healthy mind and ...

[3000 rows x 3 columns]

In [ ]:
dataHealth_title_date_author.to_csv('dataHealth_title_date_author.csv')

In [ ]:
import requests
from bs4 import BeautifulSoup
def pn(pg):
  URL = "https://tribune.com.pk/politics?page=" + str(pg)
  page = requests.get(URL)

  soup = BeautifulSoup(page.content, "html.parser")
  news_titles = soup.findAll('h2', attrs = {'class':"title-heading"})
  news_links=soup.findAll('div', attrs = {'class':"horiz-news3-caption"})
  print(news_titles[0].text)

In [ ]:
pg=100
pn(pg)

PPP Punjab leaders skeptical of alliance with PML-N

In [ ]:
titles=[]
urls=[]
for i in range(len(news_titles)):
  titles.append(news_titles[i].text)
  urls.append(news_links[i].a.attrs["href"])

In [ ]:
titles

In [ ]:
urls

In [ ]:
URL2 = "https://tribune.com.pk/story/2409625/politicians-advised-to-mend-fences-to-prevent-economic-meltdown"
page2 = requests.get(URL2)

soup2 = BeautifulSoup(page2.content, "html.parser")
t = soup2.find('h1')
#t = soup2.findAll('div', attrs={'class': "story-box-section"})
date_author=soup2.find('div',attrs={'class':"left-authorbox"})
b=soup2.findAll('span', attrs = {'class':"story-text"})

In [ ]:
t

In [ ]:
date_author.text

'\nSalman Siddiqui \nApril 03, 2023\n'

In [ ]:
b[0].text

In [ ]:
title=[]
date_aut=[]
content=[]
for i in range(len(urls)):
  URL2 = urls[i]
  page2 = requests.get(URL2)

  soup2 = BeautifulSoup(page2.content, "html.parser")
  title.append(soup2.find('h1'))
  #t = soup2.findAll('div', attrs={'class': "story-box-section"})
  date_aut.append(soup2.find('div',attrs={'class':"left-authorbox"}))
  content.append(soup2.findAll('span', attrs = {'class':"story-text"}))

In [ ]:
len(content)

10

In [ ]:
c=[]
for i in range(len(content)):
  c.append(content[i][0].text)

In [ ]:
d=[]
for i in range(len(date_aut)):
  d.append(date_aut[i].text)

In [ ]:
date_aut[0].text

'\nAPP \nApril 08, 2023\n'

In [ ]:
import pandas as pd
Title = range(10)
date_author = range(10)
articleText = range(10)
data = pd.DataFrame(
    {'Title': title,
     'date_author': d,
     'articleText': c
    })
data

,Title,date_author,articleText
0,[Grand dialogue on polls proposed],"\nAPP \nApril 08, 2023\n",\n\nQUETTA:\n\nSenator Samina Mumtaz Zehri has...
1,[Politicians advised to mend fences to prevent...,"\nSalman Siddiqui \nApril 03, 2023\n",\n\nKARACHI:\n\nPakistan's economy has partial...
2,[Who cares about the economy in this political...,"\nAAH Soomro \nApril 03, 2023\n",\n\nKARACHI:\n\nThe dollar rate is now a relig...
3,"[Jokes, racism: The many reactions to Humza Yo...","\nSocial Desk \nMarch 30, 2023\n",\nHumza Yousaf made history after his appointm...
4,[Economic stability links to politics: PM],"\nAPP \nMarch 16, 2023\n",\n\nISLAMABAD:\n\nPrime Minister Shehbaz Shari...
5,[Political polarisation takes its toll on supe...,"\nHasnaat Malik \nFebruary 03, 2023\n",\n\nISLAMABAD:\n\nThe superior courts are faci...
6,[Dirty politics behind SDGs],"\nFaran Mahmood \nJanuary 30, 2023\n",\n\nISLAMABAD:\n\nSustainable Development Goal...
7,[Disgruntled politics],"\nJanuary 29, 2023\n",\nThe political canvas is ripe with somersault...
8,[Economy and political turbulence],"\nDr Fahd Rehman \nJanuary 23, 2023\n",\n\nLAHORE:\n\nThe economy has been facing pol...
9,[Abbasi says no quick fix to current problems],"\nOur Correspondent \nJanuary 22, 2023\n",\n\nQUETTA:\n\nFormer prime minister Pakistan ...

In [ ]:
news_titles = soup.findAll('h2', attrs = {'class':"title-heading"})
news_links=soup.findAll('div', attrs = {'class':"horiz-news3-caption"})

In [ ]:
data.to_csv('data.csv')